# =============================================================================
# ACCESS SYSTEM SCRIPT CONFIGURATION 
# =============================================================================
# -----------------------------------------------------------------------------
# Version of this file
# N.B. if you need to change this file remember to first make a backup and then increment the 
# version number before making your changes. The version number of this file will be recorded 
# against the quantification calculation and referenced in any log files.
# -----------------------------------------------------------------------------

[Version]
version_number 							= 1.0

# -----------------------------------------------------------------------------
# Common parameters used for all processes
# N.B. directories and filepaths should be unquoted and with single forward slashes.
# 
# The src_plts_initial_stk_posn is the first (lowest) position a source plate will
# occupy in rack 1. e.g. if this is 5 and you load 4 source plates they will be
# expected to be in positions 5, 6, 7 and 8.
#
# The gui_x_posn and gui_y_posn options are here to allow repositioning of where the 
# script user interface window appears in relation to the top left corner of the screen.
# Best not to modify the width and height unless you know what you are doing.
# -----------------------------------------------------------------------------
[Common]
dir_tempo_rundef_inbox 					= /Users/as28/Documents/PYTHON/team214/tempo/inbox
dir_tempo_rundef_outbox 				= /Users/as28/Documents/PYTHON/team214/tempo/outbox
dir_tempo_rundef_error 					= /Users/as28/Documents/PYTHON/team214/tempo/error
fpath_ecp_384armadillo 					= /Users/as28/Documents/PYTHON/team214/ecps/384Armadillo.ecp
fpath_ecp_384corningblack 				= /Users/as28/Documents/PYTHON/team214/ecps/384CorningBlack.ecp
fpath_ecp_384dest	 					= /Users/as28/Documents/PYTHON/team214/ecps/384Dest.ecp
dir_expt_root 							= /Users/as28/Documents/PYTHON/team214/expt
dir_expt_processed						= /Users/as28/Documents/PYTHON/team214/expt/processed
dir_expt_error							= /Users/as28/Documents/PYTHON/team214/expt/error
dir_rundef_templates  					= /Users/as28/Documents/PYTHON/team214/Access_Configs/rundef_templates
src_plts_initial_stk_posn 				= 5
gui_width 								= 800
gui_height 								= 860
gui_x_posn 								= 10
gui_y_posn 								= 10

# -----------------------------------------------------------------------------
# Quantification parameters
# N.B. directories and filepaths should be unquoted and with single forward slashes.
# N.B. Concentrations and percentages should be decimal numbers.
# N.B. Droplet size on Echo is 25nL so any Echo transfer volumes must be a multiple of 25.
# -----------------------------------------------------------------------------
[Quantification]
dnaq_max_src_plates 					= 16
dnaq_dir_lims_file_network 				= /Users/as28/Documents/PYTHON/team214/network
dnaq_dir_standards  					= /Users/as28/Documents/PYTHON/team214/Access_Configs/standards
dnaq_fn_standards_ss2					= dnaq_standards_ss2.cfg
dnaq_fn_standards_rundef_template 		= dnaq_standards_template.rundef
dnaq_fn_dna_sources_rundef_template 	= dnaq_dna_sources_template.rundef
dnaq_fn_sources_to_standards_csv 		= echo_transfer_sources_to_standards_pools.csv
dnaq_fn_sources_to_black_plts_csv		= echo_transfer_sources_to_blacks.csv
dnaq_fn_standards_to_black_csv 			= echo_transfer_standards_to_black.csv
dnaq_fn_log  							= log_dnaq.txt

# dnaq_cdna_min_conc 						= 1.0
# dnaq_cdna_max_conc						= 10.0
# dnaq_cdna_min_percent_wells_ok			= 50.0
# dnaq_gdna_min_conc						= 2.0
# dnaq_gdna_max_conc						= 15.0
# dnaq_gdna_min_percent_wells_ok			= 50.0

# -----------------------------------------------------------------------------
# Normalisation parameters
# -----------------------------------------------------------------------------

# -----------------------------------------------------------------------------
# Nextera parameters
# -----------------------------------------------------------------------------